---
http_interactions:
- request:
    method: get
    uri: https://api.nal.usda.gov/fdc/v1/foods/search?api_key=zNLrbD3t0w0okyuL1BprI4Sjmd60cjay58GaYa0I&query=sugar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"foodSearchCriteria":{"query":"sugar","generalSearchInput":"sugar","pageNumber":1,"requireAllWords":false},"totalHits":334542,"currentPage":1,"totalPages":6691,"foods":[{"fdcId":380934,"description":"SUGAR","dataType":"Branded","gtinUpc":"041493647402","publishedDate":"2019-04-01","brandOwner":"Food
        Services Of America, Inc.","ingredients":"SUGAR. ","foodNutrients":[{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0E-8},{"nutrientId":1093,"nutrientName":"Sodium,
        Na","nutrientNumber":"307","unitName":"MG","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0E-8},{"nutrientId":1003,"nutrientName":"Protein","nutrientNumber":"203","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":0E-8},{"nutrientId":1005,"nutrientName":"Carbohydrate,
        by difference","nutrientNumber":"205","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":100.00000000},{"nutrientId":1008,"nutrientName":"Energy","nutrientNumber":"208","unitName":"KCAL","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":375.00000000},{"nutrientId":2000,"nutrientName":"Sugars,
        total including NLEA","nutrientNumber":"269","unitName":"G","derivationCode":"LCCS","derivationDescription":"Calculated
        from value per serving size measure","value":100.00000000}],"allHighlightFields":"<b>Ingredients</b>:
        <em>SUGAR</em>. ","score":760.4475},{"fdcId":575546,"description":"SUGAR","dataType":"Branded","gtinUpc":"041415016385","publishedDate":"2019-04-01","brandOwner":"Publix
        Super Markets, Inc.","ingredients":"SUGAR, MOLASSES.","foodNutrients":[{"nutrientId":1004,"nutrientName":"Total
        lipid (fat)","nutrientNumber":"204","unitName":"G","derivationCode":"LCCD","derivationDescription":"Calculated
        from a daily value percentage per serving size measure","value":0E-8},{"nutrientId":1093,"nutrientName":"Sodi[...]
